---
const profilePic =
  "https://paradepets.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cq_auto:good%2Cw_1200/MTk5MTY0ODc4NTg4NTUzMTAz/shutterstock_2273904057.jpg";
import Main from "../layouts/Main.astro";
---

<Main>
  <div class="profile">
    <img src={profilePic} class="profile_pic" width="100px" height="100px" />
    <div class="profile_details">
      <h1>Cool Dog</h1>
      <h2>master of walks</h2>
      <script>
        console.log("hello");
      </script>
      <p>
        being a zen master is hard work but it is enjoyable. Many walks to take
        to get to where I am.
      </p>
    </div>
  </div>
</Main>
