---
const profilePic = "../../public/assets/colorfulselfie.jpg";
import Main from "../layouts/Main.astro";
import Cards from "../components/Cards.astro";
---

<Main title="cool dog">
  <div class="profile">
    <img src={profilePic} class="profile_pic" width="100px" height="100px" />
    <div class="profile_details">
      <h1>Cool Dog</h1>
      <h2>master of walks</h2>
      <script>
        console.log("hello");
      </script>
      <p>
        being a zen master is hard work but it is enjoyable. Many walks to take
        to get to where I am.
      </p>
    </div>
  </div>
  <Cards
    cards={[
      {
        title: "Here are my guiding philosophies for life",
        gradientFrom: "#818cf8",
        gradientTo: "#d8b4fe",
        to: "/philosophies",
      },
      {
        title: "A summary of my work history",
        gradientFrom: "#fde68a",
        gradientTo: "#fca5a5",
        to: "/work-summary",
      },
      {
        title: "What I do beyond technology",
        gradientFrom: "#6ee7b7",
        gradientTo: "#9333ea",
        to: "/beyond-tech",
      },
    ]}
  />
</Main>
